img{
    margin: 0 100px 0 450px;
    height: 600px;
    width: 800px;

   

}
header{
  text-align: center;
  

}
aside{
    width: 55%;
    height: 40%;
   
   
}
article{
    text-align: center;
}
table{
    margin: 0 auto;
   

    
}
button{ margin: 0 auto;

}
td{
    text-align: center;
}